broker.id=1
log.dirs=/opt/kafka/logs/kafka-logs
listeners=PLAINTEXT://0.0.0.0:9092
advertised.listeners=PLAINTEXT://{{ kafka1 }}:9092
zookeeper.connect={{ kafka1 }}:2181,{{ kafka2 }}:2181{{ kafka3 }}:2181
delete.topic.enable=true
