[Unit]
Description=Apache Kafka Server
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
Environment="JAVA_HOME={{ java_home }}"
ExecStart={{ base_dir }}/kafka/bin/kafka-server-start.sh {{ kafka_config_dir }}/server.properties
ExecStop={{ base_dir }}/kafka/bin/kafka-server-stop.sh
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
